{
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "tailwindStylesheet": "../../packages/ui/src/styles/global.css",
  "tailwindFunctions": ["cn", "cva", "clsx"],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
